@font-face {
    font-family: Halvetica;
    src: url('../assets/Fonts/HelveticaNeueLight.woff2') format('woff2');
    font-weight: 100;
}

@font-face {
    font-family: Halvetica;
    src: url('../assets/Fonts/helvetica-neue-regular.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: Halvetica;
    src: url('../assets/Fonts/HelveticaNeueBold.woff2') format('woff2');
    font-weight: 600;
}