* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {

    &__title {
        text-align: center;
    }

    &__description {
        text-align: center;
    }
}

.main {
    display: flex;
}

.main-container {
    width: 25%;
    border-radius: 8px;
    border: 1px solid black;
}